.btn-prim {
  background: linear-gradient(
    100deg,
    var(--color-foreground) 40%,
    var(--color-foreground-accent) 50%,
    var(--color-foreground) 60%
  );
  background-size: 400% 400%;
  background-position: right;
}

.btn-prim-on {
  animation-name: move-gradient-in;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.btn-prim-off {
  animation-name: move-gradient-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.btn-prim-selected {
  background-position: left;
}

.btn-sec {
  border: 1px solid var(--color-background-3);
  background-color: var(--color-background-2);
}

.btn-sec-on {
  animation-name: border-bg-highlight-on;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

.btn-sec-off {
  animation-name: border-bg-highlight-off;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.btn-sec-selected {
  border-color: var(--color-foreground);
  background-color: var(--color-background-4);
}

.btn-warn {
  background: linear-gradient(
    100deg,
    #e538353c 40%,
    #b71c1c7f 50%,
    #d32f2f3a 60%
  );
  background-size: 400% 400%;
  background-position: right;
}

.btn-warn-on {
  animation-name: move-gradient-in;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.btn-warn-off {
  animation-name: move-gradient-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.btn-warn-selected {
  background-position: left;
}

@keyframes move-gradient-in {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes move-gradient-out {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes border-bg-highlight-on {
  0% {
    border-color: var(--color-background-3);
    background-color: var(--color-background-2);
  }
  100% {
    border-color: var(--color-foreground);
    background-color: var(--color-background-4);
  }
}

@keyframes border-bg-highlight-off {
  0% {
    border-color: var(--color-foreground);
    background-color: var(--color-background-4);
  }
  100% {
    border-color: var(--color-background-3);
    background-color: var(--color-background-2);
  }
}
