@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-border {
    background-size: 200%;
    animation: gradient-animation 6s linear infinite;
}
  
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
}

/*Without this, the chart component will prevent scrolling on mobile if the user starts scrolling from within the container*/
.VictoryContainer {
  user-select: auto !important;
  pointer-events: auto !important;
  touch-action: auto !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-background-4) var(--color-background-2);
}

body, p, h1, h2, h3, h4, h5, h6, span, a, button, input, textarea, select {
  color: var(--color-text-1);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-background-4);
  border-radius: 6px;
}

*::-webkit-scrollbar-track {
  background-color: var(--color-background-2);
}

/*Colors should be declared here and then imported into tailwind config from here so they can be used in className AND svgs*/
:root {
    --color-text-1: #273332;
    --color-text-2: #ffffff;

    --color-foreground: #75EDEC;
    --color-foreground-accent: #A0F5F4;
    --color-foreground-accent-2: #C7FFFE;
    --color-foreground-accent-3: #7DD6FF;
    --color-foreground-accent-4: #9CE0FF;
    --color-foreground-accent-5: #D8F3FF;

    --color-background-4: #2B2F41;
    --color-background-2: #565867;
    --color-background-3: #ABACB3;
    --color-background-1: #ffffff;

    --cyborg-red: #FF5858;
    --cyborg-green: #28E92F;
    --cyborg-yellow: #F8A832;

    --burger-btn-offset: 4rem;
}
  
