@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-border {
    background-size: 200%;
    animation: gradient-animation 6s linear infinite;
}
  
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
}
  